<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>colecciones y servicios</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/pngwing.com.png" type="image/png">
    <link rel="turno" href="../views/Turno.html">
    <link rel="index" href="../../index.html">
    <!--botstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <!--NAVBAR-->
    <nav class="navbar">
        <a href="../../index.html#inicio">INICIO</a>
        <a href="../../index.html#historia">HISTORÍA</a>
        <a href="../../index.html#labarberia">LA BARBERÍA</a>
        <a href="../../index.html#colecciones">COLECCIONES</a>
        <a href="../../index.html#servicios">SERVICIOS</a>
        <a href="../../index.html#contacto">CONTACTO</a>
        </nav>
    <!--PARTE PRINCIPAL-->
    <div class="prin">
        <aside class="coleccion1">
            <h5>Reserve su Turno</h5>
            <a href="../views/Turno.html" class="turno">Recerve aquí</a>
            <h5>Servicios Adicionales</h5>
            <h6>Tratamientos</h6>
            <p2>Para adicionar a nuestros servicios, podemos hacer: MÁSCARA NEGRA Elimina los puntos negros del rostro. EXFOLIACIÓN Limpia la piel de grasitud y remueve las células muertas del rostro.</p2>
            <img src="../img/tratamiento.jfif" control width="300 px" height="200 px" alt="Tratamiento">
            <h6>Bar</h6>
            <p2>Cafetería, cerveza artesanal Faucaria, cocktails clásicos y de autor con las primeras marcas presentes.</p2>
            <br>
            <img src="../img/bar.jpg" control width="300 px" height="200 px" alt="Bar">
        </aside>
        <main class="coleccion2">
            <h3>Diceños</h3>
        <!--carousel-->
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../img/diceño1.jpg" class="d-block w-100" alt="diceño1">
                </div>
                <div class="carousel-item">
                <img src="../img/diceño2.jpg" class="d-block w-100" alt="diceño2">
                </div>
                <div class="carousel-item">
                <img src="../img/diceño3.jpg" class="d-block w-100" alt="diceño3">
                </div>
                <div class="carousel-item">
                <img src="../img/diceño4.png" class="d-block w-100" alt="diceño4">
                </div>
                <div class="carousel-item">
                <img src="../img/diceño5.jpg" class="d-block w-100" alt="diceño5">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <h3>Te dejamos algunos videos tutoriales</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rWGAoMjCOYQ?si=P--uyct1tOb71vfH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>></a>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VMcX_HHlZio?si=noK4AS4INYRI8zCn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5t0Ql7NGQIw?si=H8GTiJWhS69ErnqR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    </main>
        <!--FOORTER-->
        <footer>
            <p>Alex Morales, Portero Digital 2024</p>
        </footer>
    <!--script botstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>