<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turno</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/pngwing.com.png" type="image/png">
    <link rel="index" href="../../index.html">
</head>
<body class="bodyturno">
    <!--NAVBAR-->
    <nav class="navbar">
        <a href="../../index.html#inicio">INICIO</a>
        <a href="../../index.html#historia">HISTORÍA</a>
        <a href="../../index.html#labarberia">LA BARBERÍA</a>
        <a href="../../index.html#colecciones">COLECCIONES</a>
        <a href="../../index.html#servicios">SERVICIOS</a>
        <a href="../../index.html#contacto">CONTACTO</a>
    </nav>
    <article>
        <h3>"Una ves resgistrado podras reservar tu turno"</h3>
        <p>Gracias!!!</p>
    </article>
        <!--FORM-->
    <form>
        <fieldset>
            <legend class="encabezado"> Formulario de Registro </legend>
        <label for="nombre">Nombre: </label>
        <input type="text" name="" id="nombre">
        <label for="apellido">Apellido: </label>
        <input type="text" name="Iname" id="apellido">
        <label for="fecha">Fecha de Nacimiento: </label>
        <input type="date" name="bdate" id="fecha">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email"
        placeholder="example@example.com" required>
        <label for="pass">Contraseña: </label>
        <input type="password" name="pass" id="pass" required>
        <input type="submit" value="Enviar">
        <input type="reset" value="Borrar">
        </fieldset>
    </form>
    <article class="Adicionales" id="Adicionales">
        <h2>Servicios Adicionales</h2>
        <h3>Tratamientos</h3>
        <p>Para adicionar a nuestros servicios, podemos hacer: MÁSCARA NEGRA Elimina los puntos negros del rostro. EXFOLIACIÓN Limpia la piel de grasitud y remueve las células muertas del rostro.</p>
        <img src="../img/tratamiento.jfif" control width="300 px" height="200 px" alt="tratamiento">
        <h3>Bar</h3>
        <p>Cafetería, cerveza artesanal Faucaria, cocktails clásicos y de autor con las primeras marcas presentes.</p>
        <br>
        <img src="../img/bar.jpg" control width="300 px" height="200 px" alt="bar">
    </article>
    <!--FOORTER-->
        <footer>
            <p>Alex Morales, Portero Digital 2024</p>
        </footer>
</body>
</html>